body {
  margin: 0px 10px 0px 10px;
  padding: 0;
  background-image: url(../pictures/wood.png);
  height: 100vh;
}

.head {
  color: #ffffff;
  text-align: center;
  padding: 10px;
}


#buttons {
  display: none;
}

#red,
#blue {
  font-weight: bold;
}

.gameGrid {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.card {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #fec597;
  flex-direction: column;
  text-align: center;
}

.reverse {
  display: inline-block;
  transform: scale(-1, -1);
  width: 100%;
}

.topRow {
  border-bottom: 1px solid black;
  display: flex;
}

.icon {
  color: black;
  background-color: gray;
  border: 2px solid white;
  padding: 10px;
  margin-left: 10px;
  font-size: 30px;
}